<% videos.each_with_index do |video, i| %>
  <% arr = [] %>
  <% video.categories.each { |cat| arr << cat.name.downcase.first(4) } %>
  <div class="video-card card-<%= i %>" data-cats="all <%= arr.join(' ') %>">
    <% if video.photo.attached? %>
      <%= cl_image_tag video.photo.key, alt: "video_thumbnail_#{video.name}", width: 600, crop: :fill, fetch_format: 'auto', secure: true, quality: 'auto:low', class: 'thumbnail-div' %>
    <% else %>
      <div class="thumbnail-div" style="background-image: url(<%= asset_path('videofiller.png') %>);"></div>
    <% end %>
    <div class="thumbnail-overlay" data-videourl="<%= video.url %>" data-videoid="<%= video.vimeo.id %>" data-videotitle="<%= video.title %>" data-videodesc="<%= video.description %>">
      <p class="thumbnail-overlay-title" data-videourl="<%= video.url %>" data-videoid="<%= video.vimeo.id %>" data-videotitle="<%= video.title %>" data-videodesc="<%= video.description %>"><%= video.title.upcase %></p>
      <% if user_signed_in? %>
        <div class="admin-buttons">
          <p class="modify-video-button" data-videoid="<%= i %>"><i class="far fa-edit"></i></p>
          <%= link_to video_path(video), class: 'delete-video-btn', method: :delete, data: { confirm: "Voulez-vous vraiment supprimer la vidéo \"#{video.title}\"?" }, remote: true do %>
            <i class="far fa-trash-alt"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<% if user_signed_in? %>
<!-- EDIT VIDEO MODALS -->
  <% videos.each_with_index do |video, i| %>
    <div class="edit-video-modal-background modal-hidden" id="edit-video-id-<%= i %>">
      <div class="edit-video">
        <div class="close-edit-button">
          <p class="close-edit-btn-p" id="close-edit-modal-<%= i %>"><i class="far fa-times-circle close-edit-btn-i"></i></p>
        </div>
        <div class="edit-form">
          <%= simple_form_for video, remote: true do |f| %>
            <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
            <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
            <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
            <%= f.association :categories, as: :check_boxes %>
            <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
            <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
            <%= f.submit 'Enregistrer' %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<!-- END EDIT VIDEO MODALS -->
<% end %>

