<% content_for :meta_title, "Nos Réalisations | Chez Maurice Production" %>
<% content_for :meta_description, "Découvrez les réalisations audiovisuelles des équipes de Chez Maurice Production \n
Créateurs de contenus audiovisuels : film corporate, brand content, vidéo produit... \n" %>

<div class="gallery-container" style="margin-bottom: 12vh;">
  <% if user_signed_in? %>
    <h3 class="gallery-title user">NOS RÉALISATIONS</h3>
    <h5 id="add-video-button">AJOUTER UNE VIDEO</h5>
  <% else %>
    <h3 class="gallery-title visitor">NOS RÉALISATIONS</h3>
  <% end %>

  <div class="category-links-container">
    <p class="made-up-srch-btns srch-all" data-cat="all">TOUTES</p>
    <p class="made-up-srch-btns srch-bran" data-cat="bran">BRAND CONTENT</p>
    <p class="made-up-srch-btns srch-corp" data-cat="corp">CORPORATE</p>
    <p class="made-up-srch-btns srch-even" data-cat="évén">ÉVÉNEMENTIEL</p>
    <p class="made-up-srch-btns srch-inte" data-cat="inte">INTERVIEW</p>
    <p class="made-up-srch-btns srch-prod" data-cat="prod">PRODUIT</p>
  </div>

  <div class="gallery-grid" <%= 'data-controller=reorder data-reorder-url=/videos/:id/reorder' if user_signed_in? %>>
    <%= render 'gallery_elems', videos: @videos %>
  </div>

</div> <!-- end gallery container -->

<% if user_signed_in? %>
<!-- MODAL CREATE VIDEO -->
  <div class="create-video-modal-background modal-hidden">

    <div class="add-video">
      <div class="close-add-button">
        <p class="close-add-btn"><i class="far fa-times-circle" id="close-add-btn-i"></i></p>
      </div>
      <h2 id="create-video-button">AJOUTER UNE VIDEO</h2>

      <div class="add-form">
        <%= simple_form_for @video, remote: true, html: { id: 'create-video-form' } do |f| %>
          <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
          <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
          <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
          <%= f.association :categories, as: :check_boxes %>
          <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
          <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
          <%= f.submit 'Enregistrer' %>
        <% end %>
      </div>
    </div>

    <div id="create-modal-loader" class="create-loader-hidden">
      <%= render 'shared/loader_svg' %>
    </div>
  </div>
<!-- END MODAL CREATE VIDEO -->
<% end %>

<!-- VIDEO MODAL -->
<div class="video-modal-background modal-hidden">
  <div class="video-modal-title"></div>
  <div class="video-modal-content" id="vimeo-video-player"></div>
  <div class="video-modal-description"></div>
</div>
<!-- END VIDEO MODAL -->



