<div class="footer footer-lrg">
  <div class="footer-lrg-top">

    <div class="footer-lrg-left">
      <div class="footer-lrg-left-content">
        <h5>CHEZ MAURICE PRODUCTION</h5>
        77, avenue Philippe Auguste 75011 Paris <br>
          <%= mail_to "contact@chezmauriceproduction.com", "contact@chezmauriceproduction.com", class: "legal-link" %> <br>
          <div class="footer-phone-numbers">
            <a href="tel:0033171606654" class="title-contact-link">01 71 60 66 54</a>
            <a href="tel:0033661738763" class="title-contact-link">06 61 73 87 63</a>
          </div>
      </div>
    </div>

    <div class="footer-lrg-right d-grid">
        <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer-lrg' do %>
          <p><i class="fab fa-linkedin"></i> LinkedIn</p>
        <% end %>
        <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer-lrg' do %>
          <p><i class="fab fa-vimeo"></i> Vimeo</p>
        <% end %>
    </div>

  </div>

  <div class="footer-lrg-bottom">
    <p>© 2020 Chez Maurice Production – <%= link_to "politique de confidentialité des données", mentions_legales_path, target: '_blank', rel: 'nofollow', class: 'legal-link-footer' %></p>
  </div>

</div>

<div class="footer footer-sml">
  <div class="footer-sml-address">
    <p class="title-sml">CHEZ MAURICE PRODUCTION</p>
    <p class="title-address">
      77, avenue Philippe Auguste 75011 Paris <br>
      <%= mail_to "contact@chezmauriceproduction.com", "contact@chezmauriceproduction.com", class: "legal-link" %> <br>
      <a href="tel:0033171606654" class="title-contact-link">01 71 60 66 54</a>
      <a href="tel:0033661738763" class="title-contact-link">06 61 73 87 63</a>
    </p>
  </div>
  <div class="footer-sml-sn-links">
    <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer-lrg' do %>
      <p><i class="fab fa-linkedin"></i> LinkedIn</p>
    <% end %>
    <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer-lrg' do %>
      <p><i class="fab fa-vimeo"></i> Vimeo</p>
    <% end %>
  </div>
  <div class="footer-sml-copyright">
      <p>© 2020 Chez Maurice Production – <%= link_to "politique de confidentialité des données", mentions_legales_path, target: '_blank', rel: 'nofollow', class: 'legal-link-footer' %></p>
  </div>
</div>
