<div class="footer">
  <div class="footer-top">

    <div class="footer-left">
      <div class="footer-left-content">
        <h5>CHEZ MAURICE PRODUCTION</h5>
        <p>77, avenue Philippe Auguste75011 Paris <br>
           <%= mail_to "chezmauriceproduction@contact.com", "chezmauriceproduction@contact.com", class: "legal-link" %> <br>
           <a href="tel:0033661738763" class="title-contact-link">06 61 73 87 63</a></p>
      </div>
    </div>

    <div class="footer-right d-grid">
      <!-- <div class="frl"> -->
        <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer' do %>
          <p><i class="fab fa-facebook"></i> Facebook</p>
        <% end %>
        <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer' do %>
          <p><i class="fab fa-instagram"></i> Instagram</p>
        <% end %>
      <!-- </div> -->

      <!-- <div class="frr"> -->
        <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer' do %>
        <p><i class="fab fa-linkedin"></i> LinkedIn</p>
        <% end %>
        <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links-footer' do %>
          <p><i class="fab fa-vimeo"></i> Vimeo</p>
        <% end %>
      <!-- </div> -->
    </div>

  </div>

  <div class="footer-bottom">
    <p>© 2020 Chez Maurice Production – <%= link_to "politique de confidentialité des données", mentions_legales_path, target: '_blank', class: 'legal-link-footer' %></p>
  </div>

</div>
