<div id="home-menu-banner">
  <div id="inner-menu">
    <div class="center-menu-elements">

      <div class="left-menu-elements">

        <%#= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", id: 'home-navbar-logo' %>
      </div>

      <div id="home-menu-links">
        <p class="menu-link home-link current-link">ACCUEIL</p>
        <p class="menu-link gallery-link">PRODUCTIONS</p>
        <p class="menu-link info-link">À PROPOS</p>
        <p class="menu-link contact-link">CONTACT</p>
        <% if user_signed_in? %>
          <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete, id: "log-out-link" %>
        <% end %>
      </div>

      <div class="right-menu-elements">
        <div id="social-links">
          <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
            <p><i class="fab fa-facebook"></i></p>
          <% end %>
          <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
            <p><i class="fab fa-instagram"></i></p>
          <% end %>
          <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
          <p><i class="fab fa-linkedin"></i></p>
          <% end %>
          <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
            <p><i class="fab fa-vimeo"></i></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
