<% if user_signed_in? %>
  <h3 style="text-align: center; margin-bottom: 2vh;">NOS RÉALISATIONS</h3>
  <h5 id="add-video-button">AJOUTER UNE VIDEO</h5>
<% else %>
  <h3 style="text-align: center; margin-bottom: 5vh;">NOS RÉALISATIONS</h3>
<% end %>
<div class="gallery-grid d-flex flex-wrap justify-content-center">
  <% videos.order(:number).each_with_index do |video, i| %>
    <div class="video-card card-<%= i %>" >

      <!-- background-image: url('<%#= cl_image_path @video.photo.key, height: 300, width: 400, crop: :fill %>')" -->
      <!-- background-image: url('<%#= url_for(elem.photo) %>'); -->
      <% if video.photo.attached? %>
        <div class="thumbnail-div" style="background-image: url(<%= url_for(video.photo) %>)"></div>
      <% else %>
        <div class="thumbnail-div" style="background-image: url(<%= asset_path('videofiller.png') %>);"></div>
      <% end %>
      <div class="thumbnail-overlay" data-videoid="<%= video.vimeo.id %>" data-videotitle="<%= video.title %>" data-videodesc="<%= video.description %>">
        <p class="thumbnail-overlay-title"><%= video.title.upcase %></p>
        <% if user_signed_in? %>
          <p class="modify-video-button" data-videoid="<%= i %>">Modifier</p>
          <%= link_to "Supprimer", video_path(video), class: 'delete-video-btn', method: :delete, data: { confirm: "Voulez-vous vraiment supprimer la vidéo \"#{video.title}\"?" } %>
        <% end %>
      </div>

      <!-- <div data-vimeo-url="<%#= video.url %>" data-vimeo-width="640" data-vimeo-dnt="true" data-vimeo-responsive="true" data-vimeo-controls="false" id="<%#= video.name %>"></div> -->
    </div>
  <% end %>

</div>

<% if user_signed_in? %>

<h3 style="text-align: center; margin: 1.5rem 0;">Réorganiser les vidéos</h3>
  <div class="sortable-list-container">
    <ol id="sortable-ul">
      <% videos.order(:number).each_with_index do |video, i| %>
        <li><%= video.number %> - <%= video.title %></li>
      <% end %>
    </ol>
  </div>
  <!-- ------------------------------- Hidden form for reorder ------------------------------- -->
  <div class="d-none">
    <%= simple_form_for :numero, url: update_rank_video_path(videos.last), method: :post, remote: true do |f| %>
        <%= f.input :oldIndex %>
        <%= f.input :newIndex %>
        <%= f.button :submit, class: "update-rank-btn" %>
    <% end %>
  </div>
<% end %>
