<% if user_signed_in? %>
  <h3 style="text-align: center; margin-bottom: 2vh;">NOS RÉALISATIONS</h3>
  <h5 id="add-video-button">AJOUTER UNE VIDEO</h5>
<% else %>
  <h3 style="text-align: center; margin-bottom: 5vh;">NOS RÉALISATIONS</h3>
<% end %>


<%= simple_form_for :search, url: root_path, method: 'GET', remote: true do |f| %>
  <%= f.input :category, label: "category", collection: $categories, as: :check_boxes %>
  <%= f.submit "Rechercher", class: 'btn btn-primary' %>
  <%= link_to "Reset", root_path %>
<% end %>



<div class="gallery-grid d-flex flex-wrap justify-content-center">
    <%= render 'videos', videos: videos %>

</div>

<% if user_signed_in? %>

<h3 style="text-align: center; margin: 1.5rem 0;">Réorganiser les vidéos</h3>
  <div class="sortable-list-container">
    <ol id="sortable-ul">
      <% videos.order(:number).each_with_index do |video, i| %>
        <li><%= video.number %> - <%= video.title %></li>
      <% end %>
    </ol>
  </div>
  <!-- ------------------------------- Hidden form for reorder ------------------------------- -->
  <div class="d-none">
    <%= simple_form_for :numero, url: update_rank_video_path(videos.last), method: :post, remote: true do |f| %>
        <%= f.input :oldIndex %>
        <%= f.input :newIndex %>
        <%= f.button :submit, class: "update-rank-btn" %>
    <% end %>
  </div>
<% end %>

