<div class="contact-container">
  <div class="contact-page-infos-and-map">
    <div class="contact-page-infos-and-map-left">
      <h2 id="contact-catchtitle">Cher Maurice,</h2>
      <h4 id="contact-catchphrase">Je voudrais te parler de mon projet...</h4>
    </div>
    <div class="contact-page-infos-and-map-right">
      <div id='map' style='width: 100%; height: 100%;'></div>
    </div>
  </div>
  <div class="contact-bottom">
    <div class="contact-page-form">
      <%= simple_form_for(@contact, remote: true) do |f| %>
        <%= f.input :content, as: :text, label: false, placeholder: 'Message*', input_html: { rows: 5, class: 'form-contact-input contact-form-element', id: 'content-input' } %>
        <%= f.input :name, label: false, placeholder: 'Nom*', input_html: { class: 'form-contact-input contact-form-element', id: 'name-input' } %>
        <%= f.input :email, label: false, placeholder: 'Email*', input_html: { class: 'form-contact-input email-contact contact-form-element', id: 'email-input' } %>
        <div class="form-last-line">
          <%= f.submit "Envoyer", id: "send-contact-btn", class: 'submit-form-btn contact-form-element' %>
          <p class="mandatory-notice">*Champs obligatoires</p>
        </div>
      <% end %>
      <p class="legal-notice">Les informations recueillies sur ce formulaire sont uniquement utilisées pour traiter votre demande et vous apporter une
                              réponse adaptée. Conformément à la loi « informatique et libertés », vous pouvez exercer votre droit d'accès aux données
                              vous concernant et les faire rectifier en contactant par email à <%= mail_to "chezmauriceproduction@contact.com", "chezmauriceproduction@contact.com", class: "legal-link" %>. Vous pouvez également,
                              pour des motifs légitimes, vous opposer au traitement des données vous concernant. <br>
                              En savoir plus sur la <%= link_to "politique de confidentialité des données", mentions_legales_path, target: '_blank', class: 'legal-link' %>. </p>
    </div>
    <div class="contact-page-address">
      <p>
        77 avenue Philippe Auguste<br>
        75011, PARIS<br>
        <a href="tel:0033661738763" class="title-contact-link">06 61 73 87 63</a><br>
        <%= mail_to "chezmauriceproduction@contact.com", "chezmauriceproduction@contact.com", class: "title-contact-link" %>

      </p>

    </div>

  </div>
</div>
