<div class="gallery-container">
  <% if user_signed_in? %>
    <h3 class="gallery-title user">NOS RÉALISATIONS</h3>
    <h5 id="add-video-button">AJOUTER UNE VIDEO</h5>
  <% else %>
    <h3 class="gallery-title visitor">NOS RÉALISATIONS</h3>
  <% end %>
  <button id="coroporate-btn">CORPORATE</button>
  <%= simple_form_for :search, url: realisations_path, method: "GET" do |f| %>
    <%= f.input :categories, as: :check_boxes, collection: @categories, input_html: { multiple: true } %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
  <div class="gallery-grid">
    <% @videos.order(:number).each_with_index do |video, i| %>
      <div class="video-card card-<%= i %>" >
        <% if video.photo.attached? %>
          <div class="thumbnail-div" style="background-image: url(<%= url_for(video.photo) %>)"></div>
        <% else %>
          <div class="thumbnail-div" style="background-image: url(<%= asset_path('videofiller.png') %>);"></div>
        <% end %>
        <div class="thumbnail-overlay" data-videoid="<%= video.vimeo.id %>" data-videotitle="<%= video.title %>" data-videodesc="<%= video.description %>">
          <p class="thumbnail-overlay-title"><%= video.title.upcase %></p>
          <% if user_signed_in? %>
            <p class="modify-video-button" data-videoid="<%= i %>">Modifier</p>
            <%= link_to "Supprimer", video_path(video), class: 'delete-video-btn', method: :delete, data: { confirm: "Voulez-vous vraiment supprimer la vidéo \"#{video.title}\"?" } %>
          <% end %>
        </div>

        <!-- <div data-vimeo-url="<%#= video.url %>" data-vimeo-width="640" data-vimeo-dnt="true" data-vimeo-responsive="true" data-vimeo-controls="false" id="<%#= video.name %>"></div> -->
      </div>
    <% end %>

  </div>

  <% if user_signed_in? %>
    <h3 style="text-align: center; margin: 1.5rem 0;">Réorganiser les vidéos</h3>
    <div class="sortable-list-container">
      <ol id="sortable-ul">
        <% @videos.order(:number).each_with_index do |video, i| %>
          <li><%= i + 1 %> - <%= video.title %></li>
        <% end %>
      </ol>
    </div>
    <!-- ------------------------------- Hidden form for reorder ------------------------------- -->
    <div class="d-none">
      <%= simple_form_for :numero, url: update_rank_video_path(@videos.last), method: :post, remote: true do |f| %>
          <%= f.input :oldIndex %>
          <%= f.input :newIndex %>
          <%= f.button :submit, class: "update-rank-btn" %>
      <% end %>
    </div>
  <% end %>
</div>



  <!-- MODAL VIDEO -->
<div class="video-modal-background modal-hidden">
  <div class="video-modal-title">

  </div>
  <div class="video-modal-content" id="vimeo-video-player">
    <!-- <iframe id="video-frame" src="" width="" height="auto" frameborder="0" autoplay="1" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
  </div>
  <div class="video-modal-description">

  </div>
</div>
<!-- END MODAL VIDEO -->

<!-- MODAL CREATE VIDEO -->
  <div class="create-video-modal-background modal-hidden">
    <div class="add-video">
      <div class="close-add-button">
        <p class="close-add-btn"><i class="far fa-times-circle"></i></p>
      </div>
      <h2 id="create-video-button">AJOUTER UNE VIDEO</h2>

      <div class="add-form">
        <%= simple_form_for(@video, remote: true) do |f| %>
          <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
          <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
          <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
          <%= f.association :categories, as: :check_boxes %>
          <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
          <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
          <%= f.submit 'Enregistrer' %>
        <% end %>
      </div>
    </div>
  </div>
<!-- END MODAL CREATE VIDEO -->

<!-- MODAL EDIT VIDEO -->
<% @videos.each_with_index do |video, i| %>
  <div class="edit-video-modal-background modal-hidden" id="edit-video-id-<%= i %>">
    <div class="edit-video">
      <div class="close-edit-button">
        <p class="close-edit-btn-p" id="close-edit-modal-<%= i %>"><i class="far fa-times-circle"></i></p>
      </div>
      <div class="edit-form">
        <%= simple_form_for(video, remote: true) do |f| %>
          <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
          <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
          <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
          <%= f.association :categories, as: :check_boxes %>
          <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
          <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
          <%= f.submit 'Enregistrer' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<!-- END MODAL EDIT VIDEO -->
