<div class="home-container" id="home-div">

  <!-- HOME PAGE -->
  <div class="homepage">

    <%= video_tag 'bckgrnd_video.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <!-- <div id="video-opacity"></div> -->

    <!-- <div id="home-banner-overlay"> -->

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%#= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <!-- <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2> -->

    <!-- </div> -->


  </div>
  <!-- END OF HOME PAGE -->

</div> <!-- END GENERAL LAYOUT -->
<div class="info-container" id="info-content">
  <h1 id="info-page-title">CHEZ MAURICE PRODUCTION</h1>
  <h2 class="info-h2">Conseil & Production audiovisuelle</h2>
  <p class="info-paragraph">Nous sommes créateurs de contenus audiovisuels : film corporate, brand content, vidéo
  produit... <br>
  Nous abordons avec passion et créativité tous vos projets, des plus conventionnels
  aux plus décalés. <br>
  Réactifs et agiles, nous intervenons à chaque étape de la conception de votre film : conseil,
  scénarisation, tournage, et postproduction. <br>
  Chez Maurice, vous trouverez une équipe aux petits soins et l’expertise technique pour
  donner vie à tous vos projets !</p>

  <div class="info-lists">
    <!-- <div class="lists-container"> -->
        <div class="card-container">
          <div class="info-card-container">
            <div class="info-card-content">
              <div class="info-card-top">
                <%= image_tag "preprod.png", alt: "Chez Maurice Production logo pre-production", loading:  class: 'info-logo' %>
              </div>
              <div class="info-card-title">
                <h2>Pré production</h2>
              </div>
              <hr class="info-card-hr">
              <div class="info-card-description">
                <p>Conseil & conception <br>
                Scénarisation <br>
                Story-board <br>
                Repérage</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="info-card-container">
            <div class="info-card-content">
              <div class="info-card-top">
                <%= image_tag "prod.png", alt: "Chez Maurice Production logo production", class: 'info-logo' %>
              </div>
              <div class="info-card-title">
                <h2>Production</h2>
              </div>
              <hr class="info-card-hr">
              <div class="info-card-description">
                <p>
                  Mise en scène <br>
                  Réalisation <br>
                  Maquillage
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-container">
          <div class="info-card-container">
            <div class="info-card-content">
              <div class="info-card-top">
                <%= image_tag "postprod.png", alt: "Chez Maurice Production logo post-production", class: 'info-logo' %>
              </div>
              <div class="info-card-title">
                <h2>Post production</h2>
              </div>
              <hr class="info-card-hr">
              <div class="info-card-description">
                <p>
                  Encodage <br>
                  Montage <br>
                  Motion design & sound design <br>
                  Transcription & sous-titrage <br>
                  Voix-off <br>
                  Étalonnage, mixage
                </p>
              </div>
            </div>
          </div>
        </div>


  </div>
</div>
<div id="footer-for-lg">
  <%= render 'shared/footer' %>
</div>

<!-- FIRST VISIT VIDEO -->
<%# if @first_visit %>
  <!-- <div id="welcome-video-container"> -->
    <%#= video_tag 'geh.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: true,
                   playsinline: true,
                   muted: true,
                   loop: false,
                   controls: false,
                   type: 'video/mp4',
                   id: 'welcome-video' %>
  <!-- </div> -->
<%# end %>














