<div class="general-layout">

  <!-- HOME PAGE -->
  <div class="homepage">

    <%= video_tag 'bckgrnd_video.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <div id="video-opacity"></div>

    <div id="home-banner-overlay">
      <%= render 'shared/navbar' %>
      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2>

    </div>


  </div>
  <!-- END OF HOME PAGE -->

  <!-- GALLERY PAGE -->
  <div id="gallery-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-gallery-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-gallery-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
            <% if user_signed_in? %>
              <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete, id: "log-out-link" %>
            <% end %>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="gallery-scrollable-content">

      <div class="gallery-container">
        <% if user_signed_in? %>
          <h3 style="text-align: center; margin-top: 12vh; margin-bottom: 2vh;">NOS PRODUCTIONS</h3>
          <h5 id="add-video-button">AJOUTER UNE VIDEO</h5>
        <% else %>
          <h3 style="text-align: center; margin-top: 12vh; margin-bottom: 5vh;">NOS PRODUCTIONS</h3>
        <% end %>
        <div class="gallery-grid d-flex flex-wrap justify-content-center">
          <% @videos.each_with_index do |video, i| %>
            <div class="video-card card-<%= i %>" >

              <!-- background-image: url('<%#= cl_image_path @video.photo.key, height: 300, width: 400, crop: :fill %>')" -->
              <!-- background-image: url('<%#= url_for(elem.photo) %>'); -->
              <% if video.photo.attached? %>
                <div class="thumbnail-div" style="background-image: url(<%= url_for(video.photo) %>)"></div>
              <% else %>
                <div class="thumbnail-div" style="background-image: url(<%= asset_path('videofiller.png') %>);"></div>
              <% end %>
              <div class="thumbnail-overlay" data-videoid="<%= video.vimeo.id %>" data-videotitle="<%= video.title %>" data-videodesc="<%= video.description %>">
                <p class="thumbnail-overlay-title"><%= video.title.upcase %></p>
              </div>

              <!-- <div data-vimeo-url="<%#= video.url %>" data-vimeo-width="640" data-vimeo-dnt="true" data-vimeo-responsive="true" data-vimeo-controls="false" id="<%#= video.name %>"></div> -->
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
  <!-- END OF GALLERY PAGE -->

  <!-- CONTACT PAGE -->
  <div id="contact-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-contact-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-contact-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
            <% if user_signed_in? %>
              <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete, id: "log-out-link" %>
            <% end %>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact-scrollable-content">

      <div class="contact-container">

<!--         <div class="contact-page-top">
          <div class="contact-top-left">
            <h1>CHEZ MAURICE. <br>PRODUCTION</h1>
          </div>
          <div class="contact-top-right">

          </div>
        </div> -->

        <div class="contact-page-infos-and-map">
          <div class="contact-page-infos-and-map-left">
            <h2>CHEZ MAURICE. PRODUCTION</h2>
            <p>
              77 avenue Philippe Auguste<br>
              75011, PARIS<br>
              <a href="tel:0033661738763" class="title-contact-link">Tel : +33 6 61 73 87 63</a><br>
              <%= mail_to "chezmauriceproduction@contact.com", "Email : chezmauriceproduction@contact.com", class: "title-contact-link" %>

            </p>
          </div>
          <div class="contact-page-infos-and-map-right">
            <div id='map' style='width: 100%; height: 100%;'></div>
          </div>
        </div>
        <div class="contact-page-form">
          <%= simple_form_for(@contact) do |f| %>
            <%= f.input :name, label: false, placeholder: 'Nom', input_html: { class: 'form-contact-input' } %>
            <%= f.input :company, label: false, placeholder: 'Votre société', input_html: { class: 'form-contact-input' } %>
            <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-contact-input' } %>
            <%= f.input :phone, label: false, placeholder: 'Téléphone', input_html: { class: 'form-contact-input' } %>
            <%= f.input :known_from, label: false, placeholder: 'Comment nous avez-vous connu?', input_html: { class: 'form-contact-input' } %>
            <%= f.input :content, label: false, placeholder: 'Message', input_html: { class: 'form-contact-input' } %>
            <%= f.submit "Envoyer" %>
          <% end %>
        </div>

      </div>

    </div> <!-- <div id="contact-scrollable-content"> -->


  </div>
  <!-- END OF CONTACT PAGE -->

  <!-- INFO PAGE -->
  <div id="info-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-info-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-info-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
            <% if user_signed_in? %>
              <%= link_to "DECONNEXION", destroy_user_session_path, method: :delete, id: "log-out-link" %>
            <% end %>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="info-scrollable-content">

    </div>
  </div>
  <!-- END OF INFO PAGE -->

</div> <!-- END GENERAL LAYOUT -->


<!-- MODAL VIDEO -->
<div class="video-modal-background modal-hidden">
  <div class="video-modal-title">

  </div>
  <div class="video-modal-content" id="vimeo-video-player">
    <!-- <iframe id="video-frame" src="" width="" height="auto" frameborder="0" autoplay="1" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
  </div>
  <div class="video-modal-description">

  </div>
</div>
<!-- END MODAL VIDEO -->

<!-- MODAL CREATE VIDEO -->
  <div class="create-video-modal-background modal-hidden">
    <div class="add-video">

      <h2 id="create-video-button">AJOUTER UNE VIDEO</h2>

      <%= simple_form_for(@video, remote: true) do |f| %>
        <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
        <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
        <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
        <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
        <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
        <%= f.submit 'Enregistrer' %>
      <% end %>

    </div>
  </div>
<!-- END MODAL CREATE VIDEO -->

<!-- MODAL EDIT VIDEO -->
<% @videos.each do |video| %>
  <div class="edit-video-modal-background modal-hidden">
    <div class="edit-video">
      <%= simple_form_for(video, remote: true) do |f| %>
        <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
        <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
        <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
        <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (idéalement : PNG - 16/9 - 700px de large - 72ppp)' %>
        <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
        <%= f.submit 'Enregistrer' %>
      <% end %>
    </div>
  </div>
<% end %>
<!-- END MODAL EDIT VIDEO -->

<!-- <div id="loading-hider">
  <div id="loading-hider-container">
    <h1>CHEZ MAURICE. PRODUCTION</h1>
    <%#= render 'shared/loader_svg' %>
  </div>
</div> -->

<% if @first_visit %>
  <div id="welcome-video-container">
    <%= video_tag 'geh.mp4',
                   # poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: true,
                   playsinline: true,
                   muted: true,
                   loop: false,
                   controls: false,
                   type: 'video/mp4',
                   id: 'welcome-video' %>
  </div>
<% end %>

<script>
  if (document.querySelector('#welcome-video-container')) {
    setTimeout('document.querySelector("#welcome-video-container").classList.add("welcome-video-hide")', 5000);
  }
</script>














