<div class="general-layout">

  <!-- Home page -->
  <div class="homepage">

    <%= video_tag 'Panda_Video_Overlay_LOOPED.mp4',
                   poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <div id="video-opacity"></div>

    <div id="home-banner-overlay">
      <div id="home-menu">
        <div id="inner-menu">
          <div class="center-menu-elements">
            <%#= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", id: 'home-navbar-logo' %>
            <div id="home-menu-links">
              <p id="home-link">ACCUEIL</p>
              <p id="gallery-link">PRODUCTIONS</p>
              <p id="contact-link">CONTACT</p>
              <div id="social-links">
                <p><i class="fab fa-facebook"></i></p>
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-vimeo"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2>

    </div>

  </div>
  <!-- End of Home page -->

  <!-- Gallery page -->
  <div id="gallery-page">
    <%= render 'shared/navbar' %>
    <%= image_tag "right_arrow.png", alt: "close-gallery-arrow", id: 'close-gallery-arrow' %>
    <h1>Gallery</h1>
  </div>
  <!-- End of Gallery page -->

  <!-- Contact page -->
  <div id="contact-page">
    <%= render 'shared/navbar' %>
    <%= image_tag "left_arrow.png", alt: "close-contact-arrow", id: 'close-contact-arrow' %>
    <h1>contact</h1>
  </div>
  <!-- End of Contact page -->
</div>

