<div class="general-layout">

  <!-- Home page -->
  <div class="homepage">

    <%= video_tag 'Panda_Video_Overlay_LOOPED.mp4',
                   poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <div id="video-opacity"></div>

    <div id="home-banner-overlay">
      <div id="home-menu">
        <div id="inner-menu">
          <div class="center-menu-elements">
            <%#= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", id: 'home-navbar-logo' %>
            <div id="home-menu-links">
              <p id="home-link">ACCUEIL</p>
              <p id="gallery-link">PRODUCTIONS</p>
              <p id="info-link">INFOS</p>
              <p id="contact-link">CONTACT</p>
              <div id="social-links">
                <p><i class="fab fa-facebook"></i></p>
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-vimeo"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2>

    </div>

  </div>
  <!-- End of Home page -->

  <!-- Gallery page -->
  <div id="gallery-page">
    <%= render 'shared/navbar' %>
    <div class="scrollable" style="overflow-y: scroll !important;">
            <%= image_tag "right_arrow.png", alt: "close-gallery-arrow", id: 'close-gallery-arrow' %>
            <h1>Gallery</h1>
            <p style="font-size: 2rem;">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dui massa, quis ullamcorper sem facilisis et. Donec tincidunt justo a tellus placerat malesuada. Pellentesque ac urna laoreet, finibus quam sed, semper quam. Curabitur laoreet dui nisi, quis tempus dui posuere nec. Etiam ullamcorper quam in magna ultrices blandit. Quisque sed lacus non erat tincidunt egestas. Aenean eget fringilla tellus. Aliquam finibus turpis ac mi venenatis fermentum ac aliquet massa. Cras at augue quis lacus malesuada ultricies. Nulla mi mauris, aliquet sed arcu malesuada, blandit luctus libero. Pellentesque ultricies est tortor, vel mattis augue congue vel. Maecenas pretium ipsum ut risus ultricies imperdiet. Nunc sed molestie urna, quis ullamcorper quam. In vehicula tellus et malesuada laoreet. Aenean condimentum lacinia augue, nec cursus nunc fermentum at.

        Mauris egestas quam sed varius euismod. Integer ac metus neque. Pellentesque massa orci, aliquam ac neque nec, tincidunt ullamcorper eros. Curabitur eu sodales dui, quis dapibus urna. Donec suscipit leo vel facilisis imperdiet. Morbi dapibus commodo massa vel malesuada. Donec tincidunt odio ut sapien sodales posuere. Nunc at consectetur dolor. Ut venenatis velit id nulla aliquam pretium.

        Aliquam eget porta quam. Duis sit amet nunc porttitor, pretium nulla nec, dapibus quam. Morbi nec sagittis magna, at semper magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at orci sodales, blandit mi eget, suscipit elit. Ut tempor nisi est, in egestas lorem tristique eu. Ut porta auctor accumsan. Integer nec arcu eget orci vulputate rhoncus. Maecenas in leo sit amet dolor feugiat tristique. Vivamus vitae leo maximus, varius nulla in, dapibus mi. Pellentesque mollis euismod turpis. Nullam eget nisl tellus. Nulla nec dolor ultricies erat bibendum cursus.

        Praesent posuere, felis sed tempus fermentum, nisl diam porta dui, ac tincidunt risus nulla auctor turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae tincidunt metus. Aenean molestie sagittis posuere. Integer aliquam sapien sodales felis tempor, ut ultrices dolor convallis. Nulla at quam erat. Sed dapibus elementum leo.

        Proin eget sapien tortor. Maecenas hendrerit arcu vitae sapien hendrerit pellentesque vitae quis eros. Fusce vulputate ipsum at sagittis accumsan. Aenean a nunc faucibus, eleifend urna et, dignissim augue. Sed viverra lorem arcu, id malesuada ante fringilla ut. Sed a tortor vel metus vulputate tincidunt. Nam eget efficitur tortor, et congue est. Nunc a mattis odio. Vivamus ultricies tellus elit, mollis porttitor diam malesuada quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at elit et ante pellentesque vulputate in et sem. Morbi molestie, turpis at lacinia interdum, dolor nisl pulvinar enim, vel egestas erat sapien at ligula. Nunc eget pharetra ipsum, vitae vestibulum augue. Nullam tellus leo, gravida id lorem at, scelerisque ultrices justo. Suspendisse eros tortor, condimentum non odio nec, ultrices porttitor quam.

        Morbi quis consectetur purus. Fusce malesuada ipsum eget ex laoreet commodo vitae ac est. Praesent diam neque, interdum sit amet mollis interdum, suscipit in quam. Suspendisse sed nibh ut ipsum mattis efficitur quis ac sem. Sed sagittis nunc leo, vel ultricies sem ultrices eget. Nullam vulputate dui vel nunc condimentum ultrices. Maecenas sit amet maximus erat, ac volutpat ligula. Fusce non nibh ac quam ornare blandit. Duis posuere dolor sed ligula aliquam, nec varius elit malesuada.

            </p>
    </div>
  </div>
  <!-- End of Gallery page -->

  <!-- Contact page -->
  <div id="contact-page">
    <div class="scrollable-content">
      <%= render 'shared/navbar' %>
      <%= image_tag "left_arrow.png", alt: "close-contact-arrow", id: 'close-contact-arrow' %>
      <h1>contact</h1>
            <p style="font-size: 2rem;">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dui massa, quis ullamcorper sem facilisis et. Donec tincidunt justo a tellus placerat malesuada. Pellentesque ac urna laoreet, finibus quam sed, semper quam. Curabitur laoreet dui nisi, quis tempus dui posuere nec. Etiam ullamcorper quam in magna ultrices blandit. Quisque sed lacus non erat tincidunt egestas. Aenean eget fringilla tellus. Aliquam finibus turpis ac mi venenatis fermentum ac aliquet massa. Cras at augue quis lacus malesuada ultricies. Nulla mi mauris, aliquet sed arcu malesuada, blandit luctus libero. Pellentesque ultricies est tortor, vel mattis augue congue vel. Maecenas pretium ipsum ut risus ultricies imperdiet. Nunc sed molestie urna, quis ullamcorper quam. In vehicula tellus et malesuada laoreet. Aenean condimentum lacinia augue, nec cursus nunc fermentum at.

        Mauris egestas quam sed varius euismod. Integer ac metus neque. Pellentesque massa orci, aliquam ac neque nec, tincidunt ullamcorper eros. Curabitur eu sodales dui, quis dapibus urna. Donec suscipit leo vel facilisis imperdiet. Morbi dapibus commodo massa vel malesuada. Donec tincidunt odio ut sapien sodales posuere. Nunc at consectetur dolor. Ut venenatis velit id nulla aliquam pretium.

        Aliquam eget porta quam. Duis sit amet nunc porttitor, pretium nulla nec, dapibus quam. Morbi nec sagittis magna, at semper magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at orci sodales, blandit mi eget, suscipit elit. Ut tempor nisi est, in egestas lorem tristique eu. Ut porta auctor accumsan. Integer nec arcu eget orci vulputate rhoncus. Maecenas in leo sit amet dolor feugiat tristique. Vivamus vitae leo maximus, varius nulla in, dapibus mi. Pellentesque mollis euismod turpis. Nullam eget nisl tellus. Nulla nec dolor ultricies erat bibendum cursus.

        Praesent posuere, felis sed tempus fermentum, nisl diam porta dui, ac tincidunt risus nulla auctor turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae tincidunt metus. Aenean molestie sagittis posuere. Integer aliquam sapien sodales felis tempor, ut ultrices dolor convallis. Nulla at quam erat. Sed dapibus elementum leo.

        Proin eget sapien tortor. Maecenas hendrerit arcu vitae sapien hendrerit pellentesque vitae quis eros. Fusce vulputate ipsum at sagittis accumsan. Aenean a nunc faucibus, eleifend urna et, dignissim augue. Sed viverra lorem arcu, id malesuada ante fringilla ut. Sed a tortor vel metus vulputate tincidunt. Nam eget efficitur tortor, et congue est. Nunc a mattis odio. Vivamus ultricies tellus elit, mollis porttitor diam malesuada quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at elit et ante pellentesque vulputate in et sem. Morbi molestie, turpis at lacinia interdum, dolor nisl pulvinar enim, vel egestas erat sapien at ligula. Nunc eget pharetra ipsum, vitae vestibulum augue. Nullam tellus leo, gravida id lorem at, scelerisque ultrices justo. Suspendisse eros tortor, condimentum non odio nec, ultrices porttitor quam.

        Morbi quis consectetur purus. Fusce malesuada ipsum eget ex laoreet commodo vitae ac est. Praesent diam neque, interdum sit amet mollis interdum, suscipit in quam. Suspendisse sed nibh ut ipsum mattis efficitur quis ac sem. Sed sagittis nunc leo, vel ultricies sem ultrices eget. Nullam vulputate dui vel nunc condimentum ultrices. Maecenas sit amet maximus erat, ac volutpat ligula. Fusce non nibh ac quam ornare blandit. Duis posuere dolor sed ligula aliquam, nec varius elit malesuada.

            </p>
    </div>
  </div>
  <!-- End of Contact page -->

  <!-- Info page -->
  <div id="info-page">
    <%= render 'shared/navbar' %>
    <%= image_tag "down_arrow.png", alt: "close-info-arrow", id: 'close-info-arrow' %>
    <h1>contact</h1>
            <p style="font-size: 2rem;">


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dui massa, quis ullamcorper sem facilisis et. Donec tincidunt justo a tellus placerat malesuada. Pellentesque ac urna laoreet, finibus quam sed, semper quam. Curabitur laoreet dui nisi, quis tempus dui posuere nec. Etiam ullamcorper quam in magna ultrices blandit. Quisque sed lacus non erat tincidunt egestas. Aenean eget fringilla tellus. Aliquam finibus turpis ac mi venenatis fermentum ac aliquet massa. Cras at augue quis lacus malesuada ultricies. Nulla mi mauris, aliquet sed arcu malesuada, blandit luctus libero. Pellentesque ultricies est tortor, vel mattis augue congue vel. Maecenas pretium ipsum ut risus ultricies imperdiet. Nunc sed molestie urna, quis ullamcorper quam. In vehicula tellus et malesuada laoreet. Aenean condimentum lacinia augue, nec cursus nunc fermentum at.

        Mauris egestas quam sed varius euismod. Integer ac metus neque. Pellentesque massa orci, aliquam ac neque nec, tincidunt ullamcorper eros. Curabitur eu sodales dui, quis dapibus urna. Donec suscipit leo vel facilisis imperdiet. Morbi dapibus commodo massa vel malesuada. Donec tincidunt odio ut sapien sodales posuere. Nunc at consectetur dolor. Ut venenatis velit id nulla aliquam pretium.

        Aliquam eget porta quam. Duis sit amet nunc porttitor, pretium nulla nec, dapibus quam. Morbi nec sagittis magna, at semper magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at orci sodales, blandit mi eget, suscipit elit. Ut tempor nisi est, in egestas lorem tristique eu. Ut porta auctor accumsan. Integer nec arcu eget orci vulputate rhoncus. Maecenas in leo sit amet dolor feugiat tristique. Vivamus vitae leo maximus, varius nulla in, dapibus mi. Pellentesque mollis euismod turpis. Nullam eget nisl tellus. Nulla nec dolor ultricies erat bibendum cursus.

        Praesent posuere, felis sed tempus fermentum, nisl diam porta dui, ac tincidunt risus nulla auctor turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae tincidunt metus. Aenean molestie sagittis posuere. Integer aliquam sapien sodales felis tempor, ut ultrices dolor convallis. Nulla at quam erat. Sed dapibus elementum leo.

        Proin eget sapien tortor. Maecenas hendrerit arcu vitae sapien hendrerit pellentesque vitae quis eros. Fusce vulputate ipsum at sagittis accumsan. Aenean a nunc faucibus, eleifend urna et, dignissim augue. Sed viverra lorem arcu, id malesuada ante fringilla ut. Sed a tortor vel metus vulputate tincidunt. Nam eget efficitur tortor, et congue est. Nunc a mattis odio. Vivamus ultricies tellus elit, mollis porttitor diam malesuada quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at elit et ante pellentesque vulputate in et sem. Morbi molestie, turpis at lacinia interdum, dolor nisl pulvinar enim, vel egestas erat sapien at ligula. Nunc eget pharetra ipsum, vitae vestibulum augue. Nullam tellus leo, gravida id lorem at, scelerisque ultrices justo. Suspendisse eros tortor, condimentum non odio nec, ultrices porttitor quam.

        Morbi quis consectetur purus. Fusce malesuada ipsum eget ex laoreet commodo vitae ac est. Praesent diam neque, interdum sit amet mollis interdum, suscipit in quam. Suspendisse sed nibh ut ipsum mattis efficitur quis ac sem. Sed sagittis nunc leo, vel ultricies sem ultrices eget. Nullam vulputate dui vel nunc condimentum ultrices. Maecenas sit amet maximus erat, ac volutpat ligula. Fusce non nibh ac quam ornare blandit. Duis posuere dolor sed ligula aliquam, nec varius elit malesuada.

            </p>
  </div>
  <!-- End of Info page -->

</div>

