<div class="general-layout">

  <!-- Home page -->
  <div class="homepage">

    <%= video_tag 'Panda_Video_Overlay_LOOPED.mp4',
                   poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <div id="video-opacity"></div>

    <div id="home-banner-overlay">
      <div id="home-menu">
        <div id="inner-menu">
          <div class="center-menu-elements">
            <%#= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", id: 'home-navbar-logo' %>
            <div id="home-menu-links">
              <p id="home-link">ACCUEIL</p>
              <p id="gallery-link">PRODUCTIONS</p>
              <p id="info-link">INFOS</p>
              <p id="contact-link">CONTACT</p>
              <div id="social-links">
                <p><i class="fab fa-facebook"></i></p>
                <p><i class="fab fa-instagram"></i></p>
                <p><i class="fab fa-vimeo"></i></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2>

    </div>

  </div>
  <!-- End of Home page -->

  <!-- Gallery page -->
  <div id="gallery-page">
    <%= render 'shared/navbar' %>
    <div class="scrollable" style="overflow-y: scroll !important;"></div>
            <%= image_tag "right_arrow.png", alt: "close-gallery-arrow", id: 'close-gallery-arrow' %>
            <h1>Gallery</h1>
            <p>


        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In eleifend dui massa, quis ullamcorper sem facilisis et. Donec tincidunt justo a tellus placerat malesuada. Pellentesque ac urna laoreet, finibus quam sed, semper quam. Curabitur laoreet dui nisi, quis tempus dui posuere nec. Etiam ullamcorper quam in magna ultrices blandit. Quisque sed lacus non erat tincidunt egestas. Aenean eget fringilla tellus. Aliquam finibus turpis ac mi venenatis fermentum ac aliquet massa. Cras at augue quis lacus malesuada ultricies. Nulla mi mauris, aliquet sed arcu malesuada, blandit luctus libero. Pellentesque ultricies est tortor, vel mattis augue congue vel. Maecenas pretium ipsum ut risus ultricies imperdiet. Nunc sed molestie urna, quis ullamcorper quam. In vehicula tellus et malesuada laoreet. Aenean condimentum lacinia augue, nec cursus nunc fermentum at.

        Mauris egestas quam sed varius euismod. Integer ac metus neque. Pellentesque massa orci, aliquam ac neque nec, tincidunt ullamcorper eros. Curabitur eu sodales dui, quis dapibus urna. Donec suscipit leo vel facilisis imperdiet. Morbi dapibus commodo massa vel malesuada. Donec tincidunt odio ut sapien sodales posuere. Nunc at consectetur dolor. Ut venenatis velit id nulla aliquam pretium.

        Aliquam eget porta quam. Duis sit amet nunc porttitor, pretium nulla nec, dapibus quam. Morbi nec sagittis magna, at semper magna. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus at orci sodales, blandit mi eget, suscipit elit. Ut tempor nisi est, in egestas lorem tristique eu. Ut porta auctor accumsan. Integer nec arcu eget orci vulputate rhoncus. Maecenas in leo sit amet dolor feugiat tristique. Vivamus vitae leo maximus, varius nulla in, dapibus mi. Pellentesque mollis euismod turpis. Nullam eget nisl tellus. Nulla nec dolor ultricies erat bibendum cursus.

        Praesent posuere, felis sed tempus fermentum, nisl diam porta dui, ac tincidunt risus nulla auctor turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed vitae tincidunt metus. Aenean molestie sagittis posuere. Integer aliquam sapien sodales felis tempor, ut ultrices dolor convallis. Nulla at quam erat. Sed dapibus elementum leo.

        Proin eget sapien tortor. Maecenas hendrerit arcu vitae sapien hendrerit pellentesque vitae quis eros. Fusce vulputate ipsum at sagittis accumsan. Aenean a nunc faucibus, eleifend urna et, dignissim augue. Sed viverra lorem arcu, id malesuada ante fringilla ut. Sed a tortor vel metus vulputate tincidunt. Nam eget efficitur tortor, et congue est. Nunc a mattis odio. Vivamus ultricies tellus elit, mollis porttitor diam malesuada quis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at elit et ante pellentesque vulputate in et sem. Morbi molestie, turpis at lacinia interdum, dolor nisl pulvinar enim, vel egestas erat sapien at ligula. Nunc eget pharetra ipsum, vitae vestibulum augue. Nullam tellus leo, gravida id lorem at, scelerisque ultrices justo. Suspendisse eros tortor, condimentum non odio nec, ultrices porttitor quam.

        Morbi quis consectetur purus. Fusce malesuada ipsum eget ex laoreet commodo vitae ac est. Praesent diam neque, interdum sit amet mollis interdum, suscipit in quam. Suspendisse sed nibh ut ipsum mattis efficitur quis ac sem. Sed sagittis nunc leo, vel ultricies sem ultrices eget. Nullam vulputate dui vel nunc condimentum ultrices. Maecenas sit amet maximus erat, ac volutpat ligula. Fusce non nibh ac quam ornare blandit. Duis posuere dolor sed ligula aliquam, nec varius elit malesuada.

        Ut accumsan risus ex, vel vehicula dolor porta feugiat. Duis tempor, dolor sit amet accumsan ultrices, dolor ex gravida justo, eu pharetra nibh risus ut quam. Praesent commodo augue accumsan lobortis malesuada. Praesent quam neque, posuere congue hendrerit in, tincidunt quis purus. Suspendisse imperdiet velit eu orci luctus, ullamcorper ornare felis fermentum. Pellentesque interdum sed sapien laoreet tristique. Curabitur ut aliquam augue. Sed scelerisque, augue a congue hendrerit, odio dolor consectetur urna, ut fringilla dolor lectus a diam. Duis sollicitudin ipsum tortor, sit amet elementum dolor commodo pulvinar. Ut lacinia lectus ut elit tincidunt mollis. Nullam finibus mi massa, non varius dui commodo sed. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer suscipit augue in gravida sodales. Etiam accumsan lorem enim, in rhoncus turpis varius quis. Nulla eget velit lacinia, vestibulum velit ut, accumsan nisi. Quisque molestie semper mattis.

        Proin accumsan quam a pulvinar suscipit. Vivamus cursus nec urna id feugiat. Donec justo enim, sollicitudin sit amet turpis vel, euismod tempus felis. Nulla bibendum velit tellus, ac venenatis risus finibus at. Mauris consectetur odio at dapibus accumsan. Nullam rhoncus dapibus est, eleifend elementum purus aliquet at. Ut suscipit ante nisl, at efficitur sapien tristique at. Curabitur consectetur metus accumsan mattis malesuada. Proin metus lectus, interdum et auctor ut, aliquam sit amet ligula. Phasellus neque odio, elementum et vestibulum eu, auctor quis magna. Vestibulum in sapien venenatis, egestas velit vitae, efficitur quam. Aliquam erat volutpat. Praesent sed justo lorem.

        Quisque lobortis risus eu odio mattis volutpat. Morbi vestibulum mauris id erat auctor, eu tempor est pretium. Nunc eget justo eu metus tincidunt aliquam. Mauris ultricies quam quis nisl vulputate rutrum. Vestibulum at dui a quam convallis laoreet. Phasellus at aliquam nisi, semper sagittis urna. Sed dictum nulla eu lobortis condimentum. Mauris blandit augue quis orci euismod commodo. Ut sit amet tempor magna, in posuere lectus. Donec nisl felis, rhoncus elementum fringilla a, iaculis at justo.

        In vel luctus ligula. Donec nec elementum risus. Vivamus iaculis ultricies augue et suscipit. Aliquam in velit sit amet felis pretium dictum. Cras eleifend ullamcorper mi at condimentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ut erat ac nunc dictum pellentesque vitae in elit. Proin vitae felis eget eros congue dignissim eu a velit. Quisque vitae risus id nunc volutpat ullamcorper. Ut sagittis vehicula dignissim. Maecenas sagittis ornare arcu at sollicitudin. Sed fringilla erat urna, finibus egestas nulla maximus a. Nulla fermentum vehicula finibus. Sed semper arcu ut tempor hendrerit. Quisque tincidunt ut magna ut interdum. In aliquam pellentesque ex, nec lacinia magna maximus nec.

        Aliquam purus arcu, ornare in libero id, gravida efficitur enim. Sed a commodo justo, et rhoncus neque. Proin suscipit, dolor aliquam dictum vehicula, massa nibh iaculis nisi, eu aliquet neque justo a mauris. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec sodales velit quis varius vestibulum. Vivamus vehicula vestibulum sapien sed feugiat. Nullam mollis odio mollis nibh pellentesque fringilla. Nulla suscipit lectus id rutrum tempus. Morbi iaculis, odio sed tempor congue, quam nulla aliquam metus, id pretium odio lorem in nibh.

        Cras ex eros, malesuada et malesuada vitae, porttitor a nibh. Maecenas placerat quis sem id luctus. Donec quis ex tempor, varius urna ut, sagittis ipsum. Vestibulum eleifend dui vel finibus consequat. Fusce sed libero ultricies, volutpat neque id, luctus lectus. Sed purus justo, cursus varius pulvinar eu, elementum vitae elit. Quisque ultrices luctus mattis. Maecenas mollis elit luctus, laoreet ipsum tincidunt, vulputate nisi. Integer id luctus neque, ac varius enim. Aliquam placerat ut sem at mattis. Curabitur posuere fermentum tempus. Ut felis risus, pulvinar lacinia dapibus eget, blandit a elit. Nunc finibus et augue nec fermentum.

        Vestibulum ac nulla quis ex blandit cursus. Praesent tincidunt dui vel scelerisque luctus. Suspendisse gravida imperdiet mattis. Pellentesque porttitor tortor id metus congue, at rhoncus lacus mollis. Curabitur et gravida libero, eu bibendum lectus. Mauris imperdiet quam orci, eget bibendum sapien congue scelerisque. Vivamus sed aliquet tellus. Sed quis ligula a est suscipit aliquam. Sed et vulputate nisi, vitae euismod est. Proin sed vulputate dolor. Integer sed massa velit. Praesent sit amet nisl quam. Proin rhoncus nisl felis, vehicula malesuada mi condimentum quis. Proin ac nisl tortor.

        Suspendisse potenti. In et convallis quam, eu condimentum elit. Duis ut lacus a ante rhoncus dignissim. Suspendisse consequat quam sit amet dolor imperdiet, a vehicula metus lobortis. Vivamus at mollis nibh. Curabitur cursus tempus eros eget hendrerit. Etiam dictum sem ac nisi vulputate ornare. In aliquet dui quis tempus aliquam. Curabitur et sapien ante. Ut nec purus vel magna ultricies tempor et faucibus felis.

        Quisque egestas purus quis ante imperdiet, eu iaculis risus elementum. Praesent et facilisis quam. Cras id felis in est luctus auctor. Aliquam tincidunt in velit eu accumsan. Proin tempus orci vitae mauris tristique finibus. Morbi dui mauris, accumsan sed iaculis at, pharetra at turpis. Aliquam erat volutpat. Donec ultrices magna ut commodo iaculis. Nam quis urna id felis dapibus aliquam eget in neque. Sed eu urna eget libero tincidunt dignissim. Fusce a enim dui. Duis sit amet sapien sed enim tristique convallis eu non tortor. Nam sollicitudin porta elit ut lacinia. Phasellus tincidunt, lacus id eleifend cursus, magna nibh varius dolor, eget ornare ipsum leo at lorem. Suspendisse suscipit enim sed ligula imperdiet, id ornare urna consequat.

        Maecenas rutrum accumsan libero. Sed tempus pretium vestibulum. Praesent aliquam dolor nibh, ut scelerisque tortor scelerisque id. Sed non pulvinar nisi. Phasellus ipsum risus, pulvinar quis dignissim et, ornare aliquam odio. Nunc a rutrum dolor, et eleifend ex. Pellentesque consequat eu velit at tempor. Proin eu est sit amet magna aliquet placerat nec a lectus.

        Nullam tincidunt dapibus nunc, non pulvinar dolor tincidunt id. Morbi ac urna et est sodales viverra ut tempus risus. Sed tincidunt magna leo, at bibendum elit volutpat sed. Aliquam erat volutpat. Donec congue turpis non tellus tincidunt, ut pharetra libero dictum. Aenean ultrices libero augue, non vulputate quam iaculis vitae. Nulla facilisi.

        Cras lacinia euismod elit vel vehicula. Fusce vitae risus quis lorem aliquet tristique. Curabitur eu risus sed tortor convallis pretium. Nullam aliquam mauris in sem facilisis consequat. In eleifend dolor nibh, a ullamcorper ipsum pretium sollicitudin. Praesent varius rutrum mi, vitae vulputate ex porta in. Nulla tempus vestibulum congue. Aenean mollis lectus a erat varius blandit. Duis at velit sem.

        Curabitur tristique, lorem eget sodales feugiat, massa neque aliquam urna, et pharetra metus nulla ut diam. In rhoncus nec urna nec molestie. Curabitur elit diam, sagittis sit amet tincidunt sit amet, mollis in elit. Quisque quis orci eu tortor pulvinar ultricies id id nisi. Mauris blandit tellus elit, in molestie nisi maximus ut. Quisque fermentum dapibus erat et suscipit. Aenean sit amet erat odio. In ac elit leo. Integer ante nibh, lobortis a laoreet sit amet, semper nec nunc. Nullam libero nunc, condimentum ac leo vitae, porttitor vulputate erat. Cras vulputate pharetra pulvinar. In iaculis, nisi ut tempor rhoncus, quam nulla lobortis erat, eget hendrerit metus ante a nulla. Integer at velit eget erat viverra consectetur. In augue risus, dapibus non facilisis vitae, condimentum eget dolor. Quisque ac leo ut leo porta placerat sed in ex.

        Suspendisse potenti. Nulla at volutpat urna, vitae pulvinar risus. Nunc ullamcorper, nulla non gravida pulvinar, nisi libero sollicitudin nibh, nec vestibulum tellus urna eu eros. Ut justo est, mollis ut hendrerit non, tincidunt eget risus. Aenean semper massa bibendum magna dapibus ultricies. Fusce fermentum, felis eu semper finibus, dui nisl facilisis neque, non rhoncus nulla urna at felis. Nam a diam eros.

            </p>
    </div>
  </div>
  <!-- End of Gallery page -->

  <!-- Contact page -->
  <div id="contact-page">
    <%= render 'shared/navbar' %>
    <%= image_tag "left_arrow.png", alt: "close-contact-arrow", id: 'close-contact-arrow' %>
    <h1>contact</h1>
  </div>
  <!-- End of Contact page -->

  <!-- Info page -->
  <div id="info-page">
    <%= render 'shared/navbar' %>
    <%= image_tag "down_arrow.png", alt: "close-info-arrow", id: 'close-info-arrow' %>
    <h1>contact</h1>
  </div>
  <!-- End of Info page -->

</div>

