<div class="general-layout">

  <!-- HOME PAGE -->
  <div class="homepage">

    <%= video_tag 'Panda_Video_Overlay_LOOPED.mp4',
                   poster: 'PA-LOGO_2020_poster_3072x1920.png',
                   autoplay: false,
                   playsinline: true,
                   muted: true,
                   loop: true,
                   controls: false,
                   type: 'video/mp4',
                   id: 'home-video' %>
    <div id="video-opacity"></div>

    <div id="home-banner-overlay">
      <%= render 'shared/navbar' %>
      <!-- <h1 id="home-banner-title">CHEZ MAURICE PRODUCTION</h1> -->
      <%= image_tag "PA-LOGO_2020_900px_50p.png", alt: "Logo homepage", id: 'homepage-logo' %>
      <h2 id="home-banner-catchphrase">SUBLIMEZ VOS IDÉES</h2>

    </div>


  </div>
  <!-- END OF HOME PAGE -->

  <!-- GALLERY PAGE -->
  <div id="gallery-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-gallery-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-gallery-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="gallery-scrollable-content">

      <div class="add-video">
        <%= simple_form_for(@video, remote: true) do |f| %>
          <%= f.input :title, label: false, placeholder: 'Titre de la vidéo' %>
          <%= f.input :description, label: false, placeholder: 'Description de la vidéo' %>
          <%= f.input :url, label: false, placeholder: 'Lien vimeo de la video' %>
          <%= f.input :photo, as: :file, label: 'Vignette de la vidéo (format 16/9 - 1000px de large max - 400Ko max)' %>
          <%= f.input :name, label: false, placeholder: 'Un mot unique pour identifier la video (ne sera jamais affiché)' %>
          <%= f.submit 'Enregistrer"' %>
        <% end %>

      </div>

      <div class="gallery-container">
        <h3 style="text-align: center; margin-top: 12vh; margin-bottom: 5vh;">NOS PRODUCTIONS</h3>
        <div class="gallery-grid d-flex flex-wrap justify-content-center">
          <% @videos.each_with_index do |video, i| %>
            <div class="video-card card-<%= i %>" >

              <div class="thumbnail-div" data-videoid="<%= video.vimeo.id %>" style="background-image: url(<%= video.vimeo.thumbnail %>)"></div>
              <div class="thumbnail-overlay" data-videoid="<%= video.vimeo.id %>">
                <p class="thumbnail-overlay-title"><%= video.title.upcase %></p>
              </div>
              <!-- <div data-vimeo-url="<%#= video.url %>" data-vimeo-width="640" data-vimeo-dnt="true" data-vimeo-responsive="true" data-vimeo-controls="false" id="<%#= video.name %>"></div> -->
            </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
  <!-- END OF GALLERY PAGE -->

  <!-- CONTACT PAGE -->
  <div id="contact-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-contact-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-contact-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="contact-scrollable-content">

      <div class="contact-container">

        <div class="contact-page-top">
          <div class="contact-top-left">
            <h1>CHEZ MAURICE. <br>PRODUCTION</h1>
          </div>
          <div class="contact-top-right">

          </div>
        </div>
        <div class="contact-page-mid">
          <%= simple_form_for(@contact) do |f| %>
            <%= f.input :name, label: false, placeholder: 'Nom', input_html: { class: 'form-contact-input' } %>
            <%= f.input :company, label: false, placeholder: 'Votre société', input_html: { class: 'form-contact-input' } %>
            <%= f.input :email, label: false, placeholder: 'Email', input_html: { class: 'form-contact-input' } %>
            <%= f.input :phone, label: false, placeholder: 'Téléphone', input_html: { class: 'form-contact-input' } %>
            <%= f.input :known_from, label: false, placeholder: 'Comment nous avez-vous connu?', input_html: { class: 'form-contact-input' } %>
            <%= f.input :content, label: false, placeholder: 'Message', input_html: { class: 'form-contact-input' } %>
            <%= f.submit "Envoyer" %>
          <% end %>
        </div>
        <div class="contact-page-bottom">
          <div class="contact-bottom-left">
            <p>
              CHEZ MAURICE. PRODUCTION<br>
              77 avenue Philippe Auguste<br>
              75011, PARIS<br>
            </p>
          </div>
          <div class="contact-bottom-right">
            <h2>Ici une carte</h2>
          </div>
        </div>

      </div>

    </div> <!-- <div id="contact-scrollable-content"> -->


  </div>
  <!-- END OF CONTACT PAGE -->

  <!-- INFO PAGE -->
  <div id="info-page">

    <div id="home-menu">
      <div id="inner-menu">
        <div class="center-menu-elements">

          <div class="left-menu-elements">

            <%= image_tag "PA-LOGO_2020_300px.png", alt: "navbar-logo", class: 'home-navbar-logo close-info-link' %>
          </div>

          <div id="home-menu-links">
            <p id="home-link" class="menu-link close-info-link">ACCUEIL</p>
            <p class="menu-link gallery-link">PRODUCTIONS</p>
            <p class="menu-link info-link">À PROPOS</p>
            <p class="menu-link contact-link">CONTACT</p>
          </div>

          <div class="right-menu-elements">
            <div id="social-links">
              <%= link_to "https://facebook.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-facebook"></i></p>
              <% end %>
              <%= link_to "https://www.instagram.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-instagram"></i></p>
              <% end %>
              <%= link_to "https://www.linkedin.com/company/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
              <p><i class="fab fa-linkedin"></i></p>
              <% end %>
              <%= link_to "https://vimeo.com/chezmauriceproduction/", target: '_blank', class: 'sn-links' do %>
                <p><i class="fab fa-vimeo"></i></p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="info-scrollable-content">

    </div>
  </div>
  <!-- END OF INFO PAGE -->

</div> <!-- END GENERAL LAYOUT -->


<!-- MODAL VIDEO -->
<div class="video-modal-background modal-hidden">
  <div class="video-modal-title">

  </div>
  <div class="video-modal-content" id="vimeo-video-player">
    <!-- <iframe id="video-frame" src="" width="" height="auto" frameborder="0" autoplay="1" allow="autoplay; fullscreen" allowfullscreen></iframe> -->
  </div>
  <div class="video-modal-description">

  </div>
</div>
<!-- END MODAL VIDEO -->








<script type="text/javascript">

  // know when dom is loaded
  console.log('start')
  window.onload = function(){
    console.log('page chargée')
  }

  // know what page is current
    if (window.location.href.includes('production')) {
      console.log('je suis en prod');
    } else if (window.location.href.includes('information')) {
      console.log('je suis dans infos');
    } else if (window.location.href.includes('contact')) {
      console.log('je suis dans contact');
    } else if (window.location.href.includes('accueil') || window.location.href == 'http://localhost:3000/') {
      console.log('je suis dans acceuil');
    }
</script>





















