<div data-controller="contact-form">
  <%= simple_form_for(@contact, local: true) do |f| %>
    <%= f.input :content,
                as: :text,
                label: false,
                placeholder: 'Message*',
                input_html: {
                  rows: 5,
                  class: 'form-contact-input contact-form-element mb-2',
                  id: 'content-input',
                  data: {
                    action: 'input->contact-form#validateInput',
                    contact_form_target: 'input'
                  }
                } %>
    <%= f.input :name,
                label: false,
                placeholder: 'Nom*',
                input_html: {
                  class: 'form-contact-input contact-form-element mb-2 py-1',
                  id: 'name-input',
                  data: {
                    action: 'input->contact-form#validateInput',
                    contact_form_target: 'input'
                  }
                } %>
    <%= f.input :email,
                label: false,
                placeholder: 'Email*',
                input_html: {
                  class: 'form-contact-input email-contact contact-form-element mb-4 py-1',
                  id: 'email-input',
                  data: {
                    action: 'input->contact-form#validateEmail',
                    contact_form_target: 'email input'
                  }
                } %>

    <div style="position: absolute; left: -50000px;" aria-hidden="true">
      <%= f.input :website, label: false, placeholder: 'Website', input_html: { autocomplete: 'off', tabindex: -1 } %>
    </div>

    <div class="form-last-line">
      <%= f.submit "Envoyer", id: "send-contact-btn", class: 'submit-form-btn contact-form-element', 'data-contact-form-target': 'submit' %>
    </div>
    <p class="mandatory-notice">*Champs obligatoires</p>
  <% end %>
</div>
