<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chez Maurice. Production</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.png' %>

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script async defer src="https://player.vimeo.com/api/player.js"></script>

    <script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%#= render 'shared/flashes' %>
    <% if current_page?(root_path) %>
      <div class="main-container-home">
    <% else %>
      <div class="main-container">
    <% end %>
        <%= yield %>
      </div>

    <% unless current_page?(root_path) %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
