<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag 'favicon.png', html: { alt: 'Chez Maurice Production favicon'} %>

    <meta name="google-site-verification" content="M4jDH6p3p4GAiTnaOH8X7gGEl9J8HJQYX9U-6q9Gqls" />

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>

    <script async defer src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />


    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="layout navbar scroll">
    <%= render 'shared/navbar' %>
    <% if current_page?(root_path) %>
      <div class="main-container-home">
    <% else %>
      <div class="main-container">
    <% end %>
        <%= yield %>
      </div>

    <% unless current_page?(root_path) %>
      <%= render "shared/footer" %>
    <% end %>

  </body>
</html>
